.footer {
    display: flex;
    background:#000;
    align-items: center;
    justify-content: center;
    padding-top: 1rem ;
    width: 100%;

}

.text {
    
    color: white;
}

@media only screen and (max-width: 1320px) {
    .footer {
        display: none;
    }
}