@font-face {
    font-family: logoFont;
    src: url(../../public/logo-font.ttf);
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5%;
    top: 0;
    background:#000;
}

.navitem {
    display: inline-block;
    position: relative;
    margin: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
    font-family: logoFont;
}

.navitem:before {
    background-color: #008f11;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
}

.navitem:hover:before {
    width: 0;
}

.logo {
    font-family: logoFont;
    color: #008f11;
    text-decoration: none;
    font-size: 2vw;
    vertical-align: middle;
}

.logo:hover {
    color: #ffffff;
}
