@media only screen and (max-width: 660px) {
    .image {
        display: none;
    }
}

.links {
    display:inline;
    padding: 1%;
}

@media only screen and (max-width: 767px) {
    .description {
        display: none;
    }

    .links {
        padding: 0;
    }
}