.sidebar {
    width: 20%;
    position: absolute;
    top: 10rem;
    right: 0;
    text-align:center;
    margin: 1%;
    font-size: 1rem;
}


.list {
    list-style: none;
    
}

.link {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.link:before {
    background-color: #008f11;
    content: '';
    height: 0.125rem;
    position: absolute;
    bottom: -7.5%;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
}

.link:hover:before {
    width: 0;
}


@media only screen and (max-width: 1320px) {
    .sidebar {
        display: none;
    }
}



